loglevel = 20

[mqtt]
name = "example"
hostname = "xxx"
port = 1883
username = "mqttsink"
password = "xxx"

[[system]]
name = "example"

[[aranet]]
name = "example"
hostname = "xxx"
username = "xxx"
password = "xxx"
verify = false
[aranet.sensors]
  "123" = "kitchen"
  "465" = "garden"

[[somneo]]
name = "example"
hostname = "xxx"

